<!-- Header -->
<p>
    <mat-toolbar color = "primary">
      <a (click)="goToPage('home')" href="" style="text-decoration: none; color:inherit">Quick Shop</a>

      <!-- Spacer across header -->
      <span class="big-spacer"></span>
      
    </mat-toolbar>
</p>

<h1 style="text-align:center">
    Enter your username and password to login
</h1>
 
<!-- Username input -->
<div [formGroup]="LoginForm" style="text-align:center">
<mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="usernameControl" matInput placeholder="Ex. John Smith" name="Username">
</mat-form-field>
</div>

<!-- Password input -->
<!-- TODO: hide text as user types it -->
<div [formGroup]="LoginForm" style="text-align:center">
<mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="passwordControl" matInput placeholder="" name="Password">
</mat-form-field>
</div>

<!-- Login Button -->
<section style="text-align:center">
    <!-- Header -->
    <h1>For returning users:</h1>
    <!-- Button  -->
    <button (click)="sendLogin('home')" mat-raised-button color="primary">Log In</button>
</section>

<!-- Signup button -->
<section style="text-align:center"> 
    <!-- Header -->
    <h1>For new users:</h1>
    <!-- Button -->
    <button (click)="sendSignup('home')" mat-raised-button color="primary">Sign Up</button>
</section>

<!-- Error message -->
<h1 style="text-align:center; color:red" >
  {{ error }}
</h1>

  <!-- Footer that is fixed to bottom of page -->
  <footer>
    <mat-toolbar color="primary">
      CEN3031

      <!-- Spacer across toolbar-->
      <span class="big-spacer"></span>

      <!-- GitHub Icon -->
      <a mat-icon-button href="https://github.com/skirill430/Quick-Shop/" class="example-icon" id='code' target="_blank"><mat-icon>code</mat-icon></a>
    </mat-toolbar>
  </footer>