.example-spacer {
    flex: 1 1 auto;
  }

  .big-spacer {
    flex: 25 auto;
}
  
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

footer {
  position:fixed;
  bottom:0px;
  background-color:blue;
  width:100%;
}