<!-- Toolbar at top of page -->
<mat-toolbar color="primary">

    <!-- Title -->
    <a (click)="goToPage('home')" href="" style="text-decoration: none; color:inherit">Quick Shop</a>

    <!-- Spacer across Menu Bar -->
    <span class="example-spacer"></span>

    <!-- Button to go back to home page -->
    <button (click)="goToPage('home')" mat-raised-button>Home Page</button>
    
</mat-toolbar>

<!-- Header -->
<h1>Items in your cart:</h1>
    <!-- Table to Display Search Results -->
    <table mat-table [dataSource]="products">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>
        <ng-container matColumnDef="imgUrl">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> <img src={{element.image_url}} height="230" width="230" /> </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>
        <ng-container matColumnDef="store_id">
          <th mat-header-cell *matHeaderCellDef> Store ID </th>
          <td mat-cell *matCellDef="let element"> {{element.seller_name}} </td>
        </ng-container>
        <!-- Button to add to cart -->
        <ng-container matColumnDef="remove_button">
          <th mat-header-cell *matHeaderCellDef> Remove From Cart </th>
          <td mat-cell *matCellDef="let element"> <button (click)="sendRemoveProduct(element)" mat-raised-button color="primary">Remove</button> </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

<!-- Footer that is fixed to bottom of page -->
<footer>
  <mat-toolbar color="primary">
    CEN3031

    <!-- Spacer across toolbar-->
    <span class="big-spacer"></span>

    <!-- Heart Icon -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <!-- Share Icon -->
    <button mat-icon-button class="example-icon" id="share" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</footer>